body{
  margin: 0;
}
.header{
    text-align: center;
    padding: 20px;
    background-color: wheat;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
.buton{
  background-color: rgb(0, 3, 0);
  text-align:center;
  overflow:visible;
}
.buton a {
  color: #18b603;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none; 
  border:none;
  font-size: 20px;
  display: inline-block;
  cursor: pointer;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}
.section {
  background-color: #f2f2f2;
  padding: 20px;
}
input[type=text],input[type=email],input[type=number],select, textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize:vertical;
}
input[type=submit]{
  float: left;
  width: 5%;
}
input[type=reset]{
  float: left;
  width: 5%;
}
.label {
  float:left;
  width:55%;
  margin-top: 6px;
}
.input {
  float: left;
  width:75%;
  margin-top: 6px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.buton a:hover{
  background-color: rgb(31, 119, 148);
  color: honeydew;
}
.form_buton {
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.form_buton:hover {
  background-color: #555555;
  color: white;
}
.footer {
  background-color:rgb(117, 14, 14);
  color: antiquewhite;
  padding: 10px;
  text-align: center;
}
.hakkimda-link{
  text-decoration:none;
  text-align: left;
  margin-left:30%;
  
}
:hover.hakkimda-link{
  text-decoration: underline;
  text-align: left;
}
.galeri {
  display: none;
}
.ekdzn {
  cursor: pointer;
}

.geri,
.ileri {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.ileri {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.geri:hover,
.ileri:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numara {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.altmenu {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.imgsırası {
  float: left;
  width: 16.66%;
}

.kucukefekt {
  opacity: 0.6;
}

.active,
.kucukefekt:hover {
  opacity: 1;
}
.tsbaslik{
  font-family: "Sofia", sans-serif;
  text-align: center;
}
.cvbaslik{
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}
.cvaltbaslik{
  font-family:'Times New Roman', Times, serif;
  font-weight: bold;
}
.cvdoldurma{
  font-family:Arial, Helvetica, sans-serif;
  font-style: oblique;
  color:rgba(39, 39, 39, 0.87);
}
.cvbilgibaslik{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}
.okuladlari{
  font-size: 14pt;
}
